# gets rid of files with no extensions
*
!/**/
!*.*
# !*.cpp
# !*/
# *.*
# !.gitattributes
# !.gitignore
# !readme.md
# !.gitkeep

###################
# IMPORTANT ! ! ! #
###################

.vscode

# ECLIPSE
.metadata
.project
.classpath

# test files
*.cin
*.cerr

# ignore .txt files
*.txt

tempCodeRunnerFile.cpp
/**/tempCodeRunnerFile.cpp
test.cpp

/**/FibonacciSequenceHardervDanDanCool.cpp
/**/FibonacciSequenceHardervDanDanCool.exe
/**/FibonacciSequenceHardervDanDanCool*
FunMath/FibonacciSequenceHardervDanDanCool.cpp
FunMath/FibonacciSequenceHardervDanDanCool.exe
FunMath/FibonacciSequenceHardervDanDanCool*

ECOO/ECOO2014P1Cases

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
